providers = []

[phases.setup]
aptPkgs = ["wget", "libicu74", "ca-certificates", "libc6", "libgcc1", "libgssapi-krb5-2", "libssl3", "libstdc++6", "zlib1g"]

[phases.install]
cmds = [
  "wget https://dot.net/v1/dotnet-install.sh -O dotnet-install.sh",
  "chmod +x dotnet-install.sh",
  "./dotnet-install.sh --channel 8.0 --install-dir /opt/dotnet",
  "cd CA2_SOA && /opt/dotnet/dotnet restore"
]


