[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.install]
cmds = ["cd CA2_SOA && dotnet restore"]

[phases.build]
cmds = ["cd CA2_SOA && dotnet publish --configuration Release --output ../out"]

[start]
cmd = "cd out && dotnet CA2_SOA.dll --urls=http://0.0.0.0:$PORT"

